<div class="box">
    <img src="<%= rental.imageUrl %>" alt="<%= rental.headline %>">
    <h3><%= rental.headline %></h3>
    <div class="data">
        <div class="roominf">Sleeps <%= rental.numSleeps %> • <%= rental.numBedrooms %> BR • <%= rental.numBathrooms %> BA </div>
        <div class="ppp">$<%= rental.pricePerNight %>/night</div>
    </div>
</div>

